In [55]:
# allow jupyter notebook to print all the interactive output 
from IPython.core.interactiveshell import InteractiveShell 
InteractiveShell.ast_node_interactivity = "all"

In [56]:
import pandas as pd
from ydata_profiling import ProfileReport
import missingno as msno

In [57]:
DATASET_URL = "https://raw.githubusercontent.com/kaiyungtan/challenge-data-analysis/master/data/raw/dataset_house_apartment.csv"
POSTAL_CODE_URL = "https://raw.githubusercontent.com/kaiyungtan/challenge-data-analysis/master/data/raw/code-postaux-belge.csv"


df = pd.read_csv(DATASET_URL, sep = ',')
postal_codes = pd.read_csv(POSTAL_CODE_URL, sep = ';')

In [58]:
df.shape
postal_codes.shape

(52077, 20)

(2757, 6)

In [59]:
# Drop empty columns

postal_codes.drop(columns=['coordonnees', 'geom'], inplace=True)

# Rename the columns

postal_codes.rename(columns={"column_1": "locality", "column_2": "city_name", 'column_3': 'lattitude', 'column_4': 'longitude'}, inplace=True)

# Drop the localities' duplicates

postal_codes.drop_duplicates(subset=['locality'], inplace=True)

In [60]:
# Merge solution 1:

df = pd.merge(df, postal_codes, on=['locality'], how='inner')

# Merge solution 2:
# df.merge(postal_codes, on=['locality'], how='inner', copy=True)

# Merge solution 3 (Merge only one column and add it to the dataframe)
# df['city_name'] = df['locality'].map(postal_codes.set_index('locality')['city_name'])

df.head(5)

,locality,type_of_property,subtype_of_property,price,type_of_sale,number_of_rooms,house_area,fully_equipped_kitchen,furnished,open_fire,...,garden_area,surface_of_the_land,surface_of_the_plot_of_land,number_of_facades,swimming_pool,state_of_the_building,construction_year,city_name,lattitude,longitude
0,1050,house,house,340000,for sale,6.0,203.0,1,NaN,0,...,NaN,95.0,NaN,2.0,0,to be done up,1901.0,Ixelles,4.381571,50.822285
1,1880,house,villa,525000,for sale,6.0,250.0,1,NaN,0,...,430.0,826.0,NaN,4.0,0,as new,1992.0,Nieuwenrode,4.351229,50.979984
2,4900,house,exceptional property,550000,for sale,11.0,475.0,1,NaN,0,...,1400.0,1543.0,NaN,4.0,0,good,1853.0,Spa,5.862623,50.492084
3,7912,house,villa,550000,for sale,4.0,325.0,1,NaN,0,...,2333.0,3570.0,NaN,4.0,0,good,1918.0,Saint-Sauveur,3.597746,50.706180
4,6032,house,house,550000,for sale,5.0,400.0,1,NaN,0,...,500.0,616.0,NaN,3.0,0,as new,1977.0,Mont-Sur-Marchienne,4.404636,50.390205

In [61]:
df.price.dtypes

dtype('O')

In [62]:
df.dtypes

locality                         int64
type_of_property                object
subtype_of_property             object
price                           object
type_of_sale                    object
number_of_rooms                float64
house_area                     float64
fully_equipped_kitchen           int64
furnished                      float64
open_fire                        int64
terrace                          int64
terrace_area                   float64
garden                           int64
garden_area                    float64
surface_of_the_land            float64
surface_of_the_plot_of_land    float64
number_of_facades              float64
swimming_pool                    int64
state_of_the_building           object
construction_year              float64
city_name                       object
lattitude                      float64
longitude                      float64
dtype: object

In [63]:
# Drop the duplicated rows

df.drop_duplicates(inplace=True)

In [64]:
# rename columns name 'locality' to 'postal_code'

df.rename(columns={'locality' :'postal_code'},inplace=True)

In [65]:
# Move column: 'city_name' next to 'postal_code'

second_col = df.pop("city_name")
df.insert(1, "city_name", second_col)

In [66]:
# Drop columns with only 1 unique value

df.describe(include='object') 
df.drop(columns=['type_of_sale','furnished','surface_of_the_plot_of_land'],inplace=True)
df.shape

,city_name,type_of_property,subtype_of_property,price,type_of_sale,state_of_the_building
count,50841,50841,50841,50841,50841,37670
unique,1070,2,24,4220,1,6
top,Antwerpen,house,house,249000,for sale,as new
freq,1028,29001,21809,674,50841,14358

(50841, 20)

In [67]:
df.isna().sum()

postal_code                   0
city_name                     0
type_of_property              0
subtype_of_property           0
price                         0
number_of_rooms               2
house_area                 8430
fully_equipped_kitchen        0
open_fire                     0
terrace                       0
terrace_area              33745
garden                        0
garden_area               42491
surface_of_the_land       21840
number_of_facades         13106
swimming_pool                 0
state_of_the_building     13171
construction_year         20958
lattitude                     0
longitude                     0
dtype: int64

In [68]:
# fill missing value as "None" for columns: surface_of_the_land

df.surface_of_the_land = df.surface_of_the_land.fillna('None')

In [69]:
df.isna().sum()

postal_code                   0
city_name                     0
type_of_property              0
subtype_of_property           0
price                         0
number_of_rooms               2
house_area                 8430
fully_equipped_kitchen        0
open_fire                     0
terrace                       0
terrace_area              33745
garden                        0
garden_area               42491
surface_of_the_land           0
number_of_facades         13106
swimming_pool                 0
state_of_the_building     13171
construction_year         20958
lattitude                     0
longitude                     0
dtype: int64

In [70]:
# drop 2 rows of missing value for columns: number_of_rooms)

df.dropna(inplace=True)

In [71]:
df.isna().sum()

postal_code               0
city_name                 0
type_of_property          0
subtype_of_property       0
price                     0
number_of_rooms           0
house_area                0
fully_equipped_kitchen    0
open_fire                 0
terrace                   0
terrace_area              0
garden                    0
garden_area               0
surface_of_the_land       0
number_of_facades         0
swimming_pool             0
state_of_the_building     0
construction_year         0
lattitude                 0
longitude                 0
dtype: int64

In [72]:
# Function to clean unique and dtype of a given column.

def print_unique_dtype(column):
  """Print unique and dtype of a given column"""
  
  unique = df[column].value_counts().nunique()
  dtype = df[column].dtype
  print(f"{unique} - {dtype}")

In [73]:
# Postal Code is used earlier to aggregate the city name and regions,
# so we know it's already clean.

print_unique_dtype('postal_code')

22 - int64

In [74]:
# City name is an "object", it come from the aggregated city name,
# so we know it's already clean -> Str.

print_unique_dtype('city_name')

22 - object

In [75]:
# Type of property is currently a string:
# either 'house' or 'apartment'

print_unique_dtype('type_of_property')
df['type_of_property'].value_counts()

2 - object

type_of_property
house        1843
apartment     350
Name: count, dtype: int64

In [76]:
# Change house to 0, and apartment to 1

df['type_of_property'] = df['type_of_property'].replace({"house":0 ,"apartment":1})
df.head()

C:\Users\zahid\AppData\Local\Temp\ipykernel_4712\105429425.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['type_of_property'] = df['type_of_property'].replace({"house":0 ,"apartment":1})

,postal_code,city_name,type_of_property,subtype_of_property,price,number_of_rooms,house_area,fully_equipped_kitchen,open_fire,terrace,terrace_area,garden,garden_area,surface_of_the_land,number_of_facades,swimming_pool,state_of_the_building,construction_year,lattitude,longitude
1,1880,Nieuwenrode,0,villa,525000,6.0,250.0,1,0,1,40.0,1,430.0,826.0,4.0,0,as new,1992.0,4.351229,50.979984
3,7912,Saint-Sauveur,0,villa,550000,4.0,325.0,1,0,1,125.0,1,2333.0,3570.0,4.0,0,good,1918.0,3.597746,50.706180
4,6032,Mont-Sur-Marchienne,0,house,550000,5.0,400.0,1,0,1,80.0,1,500.0,616.0,3.0,0,as new,1977.0,4.404636,50.390205
6,1325,Bonlez,0,house,535000,6.0,303.0,1,0,1,30.0,1,650.0,810.0,4.0,0,as new,1996.0,4.689615,50.702137
10,8380,Lissewege,0,house,545000,5.0,176.0,1,0,1,30.0,1,415.0,712.0,3.0,0,good,1999.0,3.199182,51.317114

In [77]:
# Subtype of property is related to the property's type.
# We'll drop "castle" and "pavillon"

print_unique_dtype('subtype_of_property')
df.subtype_of_property.value_counts()

18 - object

subtype_of_property
house                   1212
villa                    316
apartment                217
ground floor              83
town house                67
exceptional property      60
mansion                   55
mixed use building        36
apartment block           33
duplex                    30
bungalow                  26
country cottage           16
chalet                     9
loft                       6
manor house                6
penthouse                  5
triplex                    4
flat studio                4
farmhouse                  4
other property             2
service flat               1
pavilion                   1
Name: count, dtype: int64

In [78]:
# Drop castle & pavilion & apartment block.

df = df[(df['subtype_of_property'] != 'castle') & (df['subtype_of_property'] != 'pavilion') & (df['subtype_of_property'] != 'apartment block')]
print_unique_dtype('subtype_of_property')
df.shape

17 - object

(2159, 20)

In [79]:
# Drop the columns

df.drop(columns=['subtype_of_property'],inplace=True)

In [80]:
# Remove the "no price" string from price column.

df['price'] = df[df.price != "no price"]['price']
df.dropna(inplace=True)

# Convert the price to int

df['price'] = df['price'].astype(int)
df.shape
df['price'].dtype

(2156, 19)

dtype('int64')

In [81]:
# 204 and 165 are too many rooms to be real.
# We remove it.

df.number_of_rooms.value_counts()

number_of_rooms
3.0     787
4.0     582
2.0     359
5.0     211
1.0      91
6.0      85
7.0      25
8.0       7
9.0       3
0.0       2
11.0      2
13.0      1
10.0      1
Name: count, dtype: int64

In [82]:
# Remove number_of_rooms >= 165

df = df[(df['number_of_rooms'] < 20) & (df['number_of_rooms'] > 0)]

# Convert to int

df['number_of_rooms'] = df['number_of_rooms'].astype(int)
df['number_of_rooms'].value_counts()
df.shape

number_of_rooms
3     787
4     582
2     359
5     211
1      91
6      85
7      25
8       7
9       3
11      2
13      1
10      1
Name: count, dtype: int64

(2154, 19)

In [83]:
# Lots of None values (8427 entries)

df.house_area.value_counts()

house_area
200.0    79
150.0    65
180.0    60
160.0    59
140.0    50
         ..
234.0     1
382.0     1
684.0     1
323.0     1
560.0     1
Name: count, Length: 338, dtype: int64

In [84]:
# Remove the 'None' (str) entries

df = df[(df['house_area'] != 'None')]

# Convert the type to int

df['house_area'] = df['house_area'].astype(int)

# print_unique_dtype('subtype_of_property')

df.shape
df['house_area'].dtype

(2154, 19)

dtype('int64')

In [85]:
# Delete the 1 and 31700 entries 

df = df[(df['house_area'] != 1) & (df['house_area'] != 31700)]
df.house_area.max()

np.int64(3560)

In [86]:
# fully_equiped_kitchen is clean

df.fully_equipped_kitchen.value_counts() 
df.fully_equipped_kitchen.dtype

fully_equipped_kitchen
1    1932
0     222
Name: count, dtype: int64

dtype('int64')

In [87]:
# open_fire is clean

df.open_fire.value_counts() 
df.open_fire.dtype

open_fire
0    1810
1     344
Name: count, dtype: int64

dtype('int64')

In [88]:
# terrace is clean

df.terrace.value_counts()
df.terrace.dtype

terrace
1    2154
Name: count, dtype: int64

dtype('int64')

In [89]:
#Finally the columns will be dropped

df.drop(columns=['terrace_area'],inplace=True)

In [90]:
# garden is clean

df.garden.value_counts()
df.garden.dtype

garden
1    2154
Name: count, dtype: int64

dtype('int64')

In [91]:
# df.garden_area.value_counts() 

df.drop(columns=['garden_area'],inplace=True)

In [92]:
# Surface of the land has 20 000 None entries

df.surface_of_the_land.value_counts()

surface_of_the_land
None     349
0.0       46
300.0     18
240.0     16
150.0     14
        ...
327.0      1
488.0      1
471.0      1
757.0      1
453.0      1
Name: count, Length: 914, dtype: int64

In [93]:
# Replace 'None' by 0

df['surface_of_the_land'] = df['surface_of_the_land'].replace({"None":0}).astype(int)
df.surface_of_the_land.value_counts()

C:\Users\zahid\AppData\Local\Temp\ipykernel_4712\2475866844.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['surface_of_the_land'] = df['surface_of_the_land'].replace({"None":0}).astype(int)

surface_of_the_land
0      395
300     18
240     16
150     14
200     14
      ...
327      1
488      1
471      1
757      1
453      1
Name: count, Length: 913, dtype: int64

In [94]:
# Number of facades has a lot of None value.
# Also, some house have only 1 facade.

df.number_of_facades.value_counts()

number_of_facades
4.0    793
2.0    778
3.0    564
1.0     19
Name: count, dtype: int64

In [95]:
# Replace 'None' by 0

df['number_of_facades'] = df['number_of_facades'].replace({"None": 0}).astype(int)

# Drop the 1-facade houses.

df = df[(df['number_of_facades'] != 1)]
df.number_of_facades.value_counts()

number_of_facades
4    793
2    778
3    564
Name: count, dtype: int64

In [96]:
# Swimming pool data is clean

df.swimming_pool.value_counts()

swimming_pool
0    2041
1      94
Name: count, dtype: int64

In [97]:
# State of the building data has 'None'

df.state_of_the_building.value_counts()

state_of_the_building
as new            869
good              764
to be done up     199
just renovated    184
to renovate       116
to restore          3
Name: count, dtype: int64

In [98]:
# Replace 'None' by 'unknown'

df['state_of_the_building'] = df['state_of_the_building'].replace({"None": "unknown"})
df.state_of_the_building.value_counts()

state_of_the_building
as new            869
good              764
to be done up     199
just renovated    184
to renovate       116
to restore          3
Name: count, dtype: int64

In [99]:
df.construction_year.value_counts(normalize=True)

construction_year
2020.0    0.077752
1930.0    0.042623
2019.0    0.036534
1950.0    0.033724
2018.0    0.033255
            ...
1873.0    0.000468
1763.0    0.000468
1755.0    0.000468
1830.0    0.000468
1903.0    0.000468
Name: proportion, Length: 154, dtype: float64

In [100]:
# drop construction year column

df.drop(columns=['construction_year'],inplace=True)

In [101]:
# This cell create a dictionnary of all postal codes, and their associated provinces and regions.

provinces = {
    'Bruxelles-Capitale': {
        'range': [(1000, 1299)],
        'region': 'Bruxelles'
    },
    'Brabant wallon': {
        'range': [(1300, 1499)],
        'region': 'Wallonie'
    },
    'Brabant flamand': {
        'range': [(1500, 1999), (3000, 3499)],
        'region': 'Flandre'
    },
    'Anvers': {
        'range': [(2000, 2999)],
        'region': 'Flandre'
    },
    'Limbourg': {
        'range': [(3500, 3999)],
        'region': 'Flandre'
    },
    'LiÃ¨ge': {
        'range': [(4000, 4999)],
        'region': 'Wallonie'
    },
    'Namur': {
        'range': [(5000, 5999)],
        'region': 'Wallonie'
    },
    'Hainaut': {
        'range': [(6000, 6599), (7000, 7999)],
        'region': 'Wallonie'
    },
    'Luxembourg': {
        'range': [(6600, 6999)],
        'region': 'Wallonie'
    },
    'Flandre-Occidentale': {
        'range': [(8000, 8999)],
        'region': 'Flandre'
    },
    'Flandre-Orientale': {
        'range': [(9000, 9999)],
        'region': 'Flandre'
    }
}

def convert_by_postal_code():
  """
  Convert the 'provinces' dictionnary to a dictionnary of postal codes as key,
  and its region and province as values.
  """
  postal_dict = {}

# Loop through each entry in the "provinces" dictionnary

  for province, content in provinces.items():

# Loop though each postal code

    for postal_code_tuple in content['range']:
      for code in range(postal_code_tuple[0], postal_code_tuple[1] + 1):

# Append the province and region for each postal code.
 
        postal_dict[code] = {'province': province, 'region': content['region']}

  return postal_dict

postal_dict = convert_by_postal_code()

In [102]:
def add_province(postal_code):
  """Return the province associated with a given locality."""
  return postal_dict[postal_code]['province']

def add_region(postal_code):
  return postal_dict[postal_code]['region']

provinces_regions = df['postal_code'].apply(lambda postal_code: pd.Series({
    'province': add_province(postal_code),
    'region': add_region(postal_code)
    }))

df = pd.concat([df, provinces_regions], axis=1)
df.head(10)

,postal_code,city_name,type_of_property,price,number_of_rooms,house_area,fully_equipped_kitchen,open_fire,terrace,garden,surface_of_the_land,number_of_facades,swimming_pool,state_of_the_building,lattitude,longitude,province,region
1,1880,Nieuwenrode,0,525000,6,250,1,0,1,1,826,4,0,as new,4.351229,50.979984,Brabant flamand,Flandre
3,7912,Saint-Sauveur,0,550000,4,325,1,0,1,1,3570,4,0,good,3.597746,50.706180,Hainaut,Wallonie
4,6032,Mont-Sur-Marchienne,0,550000,5,400,1,0,1,1,616,3,0,as new,4.404636,50.390205,Hainaut,Wallonie
6,1325,Bonlez,0,535000,6,303,1,0,1,1,810,4,0,as new,4.689615,50.702137,Brabant wallon,Wallonie
10,8380,Lissewege,0,545000,5,176,1,0,1,1,712,3,0,good,3.199182,51.317114,Flandre-Occidentale,Flandre
13,6730,Tintigny,0,520000,5,350,1,1,1,1,1150,4,0,as new,5.518515,49.682099,Luxembourg,Wallonie
14,8000,Brugge,0,545000,5,176,1,0,1,1,712,3,0,good,3.207361,51.214708,Flandre-Occidentale,Flandre
15,4052,Beaufays,0,250000,5,200,1,1,1,1,1660,4,0,good,5.638776,50.558963,LiÃ¨ge,Wallonie
17,1330,Rixensart,0,525000,5,291,1,0,1,1,740,4,0,to be done up,4.527290,50.713355,Brabant wallon,Wallonie
18,7850,Enghien,0,550000,4,276,1,0,1,1,1182,4,0,as new,4.040691,50.692755,Hainaut,Wallonie